@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.ttf');
}


:root{
    --font_text :'Rubik';
    --soft_blue: hsl(231, 69%, 60%) ;
    --soft_red: hsl(0, 94%, 66%);
    --grayish_blue: hsl(229, 8%, 60%);
    --very_dark_blue: hsl(229, 31%, 21%)
}

/**/
.container{
    max-width: 1440px;
    min-width: 375px; 
}

#bubble_r{
    max-width: 50% !important;
    height: 45% !important;
    max-height:50% !important;
    left: 160px !important;
    bottom: 170px !important;
    background-repeat: no-repeat !important;
    background: var(--soft_blue);
    border-radius : 100px 0px 0px 100px;
    z-index:-1;
}

#bubble_l{
    max-width: 70% !important;
    height: 45% !important;
    max-height:50% !important;
    right: 700px !important;
    bottom: -480px !important;
    background: var(--soft_blue);
    background-repeat: no-repeat !important;
    border-radius : 0 100px 100px 0px;
    z-index:-1;
}



.container_blue{
    background-color: var(--soft_blue) !important;
}

.headingOne{
    background-color: transparent !important;
}
/*MODAL*/
.modal-open{
    overflow: hidden;
}

.modal-backdrop {
    background-color: hsla(229, 31%, 21%, 0.5);
    z-index: -1;
}

/*FONT*/
h1, p, h2, h5, a, button{
    font-family: var(--font_text);
}

p{
    font-family: var(--font_text);
    font-size: 18px;
    color: var(--grayish_blue);
}

a {
    color: var(--very_dark_blue) !important;
}


a, button{
    
    font-size: 14px !important;
    font-weight: 500;
}

h1, h2, h5{
    font-weight: bolder!important;
    color: var(--very_dark_blue);
}

h1{
    font-size: 25px;
}

h2, h5{
    font-size: 22px;
}

.container-fluid p, .container-fluid h2{
    color: white !important;
}

/*BUTTON*/
.btn-danger{
    background-color: var(--soft_red) !important;
}                       

.btn-danger:hover{
    background-color: white !important;
    color: var(--soft_red) !important;
    border-color: var(--soft_red) !important;
    border: 2px solid !important;
    border-radius: .25rem !important;
    border-color: var(--soft_red) !important;
}

.btn-primary{
    background-color: var(--soft_blue) !important;
    color: white !important;
}

.btn-primary:hover{
    background-color: white !important;
    color: var(--soft_blue)!important;
    border:2px solid !important;
    border-color: var(--soft_blue)!important;
    border-radius: .25rem !important;
}

.btn-secondary{
    background-color: white !important;
    color: var(--very_dark_blue) !important;
}

.btn-secondary:hover{
    background-color: white !important;
    color: var(--very_dark_blue)!important;
    border:2px solid !important;
    border-color: var(--very_dark_blue)!important;
    border-radius: .25rem !important;
}
.nav {
    list-style: none;
}
.menu{
    transition-property: transform;
    transition-duration: 0.2s;
}
.menu:hover {
    color:var(--soft_red)!important;
    
}

.nav-tabs .border-bottom:hover{
    border-bottom: 3px solid !important;
    border-color: var(--soft_red) !important;
}

/*ALERTE MESSAGE*/

.alert-danger{
    background-color: var(--soft_red) !important;
    color: white !important;
}